/* global styling */
* {
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: rgb(31, 30, 30);
}

a {
    text-decoration:none;
}

 /* header styling */

header {
    background-color: rgb(90, 61, 61);
 }
 .topnav {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    align-items: center;
 }
 .topnav ul li{
    display: inline;
    margin: 10px ;
    border-bottom: 5px solid brown;
    padding-bottom: 2px;
    width: 30px;
 }

 .topnav a {
    text-decoration: none;
 }

 .topnav h1 {
     font-size: 30px;
     background-color: rgb(58, 42, 42);
     padding: 10px 10px 10px 50px;
 }
/* sub title */
.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 200px;
    background-image: url("https://image.shutterstock.com/image-photo/collage-different-dogs-on-white-260nw-1724568655.jpg");
}
.subtitle-content {
    background-color: brown;
    font-size: 30px;
    padding:10px;
    margin-right: 50px;
}
 /* about me block */

 .about-me-container {
     display: flex;
     margin: 10px 100px;
     align-items: center;
 }

 .about-me {
    margin: 20px;
 }

 .aboutme-header {
     border-right: 10px solid brown;
     font-size: 50px;
     padding-right: 10px;
 }


/* work section */


.work {
   margin: 20px;
   
}

.work-header {
    border-right: 10px solid brown;
    font-size:5vh;
    padding-right: 10px;
    width: 15vw;
}

 #surfreport {
     
     background-image:  url("img/tomadoggy.png");
     border: 3px solid brown;
     height: 30vh;
     width: 40vw;
 }

 .work-container {
     flex-wrap: wrap;
     margin: 10px 100px;
    
     
 }
 .work-content {
     border: 3px solid brown;
     height: 9vh;
 }
 #quiz{
    background-image: url(img/quizgame.png);
 }
 #password{
    background-image: url(img/thursdays.png);
 }
 #scheduler{
    background-image: url(img/schduler.png);
 }
 .work-content-title {
     background-color: brown;
     padding: 10px;
     text-align: center;
     margin: 10px;
     margin-left: 0px;
 }
#surfreport, .work-content ,.work-content-title {
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

#surfreport:hover,
.work-content:hover,
.work-content-title:hover {
    box-shadow: inset  1px 1px
    rgb(167, 44, 44), 0 0 15px
    rgb(114, 13, 13);
}
/* contact */

.contact-container {
    display: flex;
    margin: 10px 100px;
    align-items: center;
}

.contact {
    display: inline;
    margin: 20px;
}

.contact-header {
    border-right: 10px solid brown;
    font-size: 50px;
    padding-right: 10px;
    
}


